// Zeroing styles
@import './nullstyles.scss';

// Variables
$hero_text: rgba(255, 255, 255, 1);
$prices_back: rgba(252, 252, 252, 1);
$primary_text: rgba(0, 0, 0, 1);
$buttons_color: rgba(135, 26, 26, 1);
$how_it_works_text: rgba(57, 57, 57, 1);
$hiw_point: rgba(217, 217, 217, 1);
$files_names_footer_text: rgba(24, 24, 24, 1);
$car_capabil_for_who: rgba(6, 6, 6, 1);
$header_text: rgba(207, 207, 207, 1);
$stages4_text: rgba(123, 123, 123, 1);
$stages4_back_text: rgba(242, 242, 242, 1);
$for_who_border: rgba(235, 235, 235, 1);
$for_who_text: rgba(25, 25, 25, 1);
$footer_back: rgba(245, 245, 247, 1);
$services_span: rgba(175, 175, 175, 1);

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $hero_text;
  color: $primary_text;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
}

.button {
  background-color: $buttons_color;
  color: $hero_text;
}

.title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.4;
}

// Header section

.header {
  z-index: 999;
  position: fixed;
  width: 100%;

  border-bottom: 1px solid rgba(204, 204, 204, 1);
  backdrop-filter: blur(10px);

  .header--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0 22px;
    text-transform: uppercase;

    &__nav {
      font-size: 16px;

      &__list {
        display: flex;
        gap: 40px;
        font-weight: 500;

        &__li__link {
          color: $header_text;
          transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

          &:hover {
            color: $hero_text;
          }
        }
      }

      &__list-reg {
        display: flex;
        gap: 30px;
        font-weight: 700;

        &__li__link {
          color: $header_text;
          transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

          &:hover {
            color: $hero_text;
          }
        }
      }
    }

    &__logo {
      &__link {
        &__img {
          width: 125px;
          height: 35px;
        }
      }
    }

    &__lang {
      &__name {
        color: $header_text;
        font-size: 16px;
        font-weight: 400;

        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
          color: $hero_text;
        }
      }

      &__change {
        width: 18px;
        height: 7px;
        cursor: pointer;
      }
    }
  }
}

.hero {
  background-image: url(../images/hero/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // margin: 0 auto;

  .hero--container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $hero_text;

    &__wrapper {
      position: absolute;
      bottom: 10.5%;
      max-width: 673px;
    }

    &__title {
      font-size: 48px;
      line-height: 1.3;
      text-transform: uppercase;
      margin-bottom: 15px;

      &__span {
        font-weight: 700;
      }
    }

    &__par {
      font-weight: 500;
      margin-bottom: 54px;
    }

    &__link {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      padding: 19px 38px;
      border-radius: 30px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        color: $buttons_color;
        background-color: $hero_text;
        font-weight: 700;
      }
    }
  }
}

.bonus {
  background-image: url(../images/bonus/bonus_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 150px;
  scroll-margin-top: 78.5px;

  .bonus--container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $hero_text;
    padding: 20px 0;

    &__par {
      font-size: 36px;
      text-align: right;
      max-width: 526px;
      font-weight: 300;

      &__span {
        font-weight: 600;
      }
    }

    &__sum {
      font-weight: 600;
      font-size: 71px;
    }
  }
}

.hiw {
  margin-bottom: 150px;
  scroll-margin-top: 78.5px;
  .hiw--container {
    display: flex;
    gap: 90px;

    &__wrapper {
      padding: 25.5px 0;
    }

    &__par4 {
      color: $stages4_text;
      background-color: $stages4_back_text;
      font-size: 16px;
      font-weight: 500;
      padding: 5px 18px;
      border-radius: 30px;
      width: fit-content;
      margin-bottom: 15px;
    }

    &__title {
      margin-bottom: 80px;
    }

    &__stages {
      display: flex;
      flex-direction: column;
      width: 616px;

      &__button {
        text-align: left;
        border: none;
        background-color: inherit;
        font-size: 24px;
        display: flex;
        align-items: center;
        gap: 10px;

        &__icon {
          width: 9px;
          height: 9px;
        }
      }

      &__list {
        &__li {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid $hiw_point;
          margin-bottom: 25px;
        }
      }

      &__par {
        color: $how_it_works_text;
        font-size: 18px;
        transition:
          opacity 0.5s ease-in-out,
          visibility 0.5s ease-in-out;

        &__span {
          font-weight: 600;
        }
      }
    }
  }
}

.prices {
  background-color: $prices_back;
  margin-bottom: 150px;
  scroll-margin-top: 78.5px;

  .prices--container {
    padding: 100px 0;

    &__title {
      margin-bottom: 35px;
    }

    &__flex {
      display: flex;
      gap: 40px;
    }

    &__info {
      background-color: $hero_text;
      max-width: 570px;
      padding: 46px 46px;

      .prices--container__wrapper {
        &__list {
          display: flex;
          flex-wrap: wrap;
          row-gap: 72px;
          padding-bottom: 35px;
          border-bottom: 1px solid $hiw_point;

          &__li {
            flex: 1 1 37%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &__par {
              &_name {
                font-size: 24px;
                font-weight: 600;
                line-height: 1.2;
              }

              &_descr {
                font-weight: 500;
                font-size: 18px;
                line-height: 1.2;
              }

              &_price {
                font-weight: 700;
                font-size: 30px;
                line-height: 1.22;
                color: $buttons_color;
              }
            }
          }
        }
      }

      .prices--container__bonus {
        padding: 37px 0;
        border-bottom: 1px solid $hiw_point;

        &__par {
          line-height: 1.22;

          &__title {
            font-weight: 600;
            margin-bottom: 16px;
          }

          &__span {
            font-weight: 500;
          }
        }
      }

      .prices--container__descr {
        padding-top: 37px;
        display: flex;
        flex-direction: column;
        gap: 25px;
      }
    }

    &__services {
      &__list {
        &__li {
          padding-bottom: 5px;
          margin-bottom: 20px;
          border-bottom: 1px solid $hiw_point;
          display: flex;
          justify-content: space-between;
          text-transform: uppercase;

          &:last-child {
            margin-bottom: 0;
          }

          &__par {
            line-height: 1.2;
            font-weight: 500;

            &__span {
              color: $services_span;
            }

            &__price {
              font-weight: 600;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

.discovery {
  margin-bottom: 150px;

  .discovery--container {
    &__title {
      margin-bottom: 20px;
    }
    &__par {
      margin-bottom: 40px;
      max-width: 895px;
    }
  }
}

.for-who {
  margin-bottom: 150px;
  .for-who--container {
    &__title {
      padding-bottom: 35px;
    }

    &__list {
      display: flex;

      &__li {
        flex: 33%;

        border: 1px solid $for_who_border;
        position: relative;

        &:nth-child(2) {
          border-left: none;
          border-right: none;
        }

        &__descr {
          padding: 20px 15px 30px 20px;

          &__title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 15px;
            color: $buttons_color;
          }

          &__par {
            color: $for_who_text;
            line-height: 1.22;

            &__margin {
              margin-bottom: 10px;
            }

            &__span {
              font-weight: 600;
              font-size: 14px;

              &__margin {
                margin-bottom: 51px;
              }
            }

            &__span-price {
              font-weight: 600;
              color: $buttons_color;
            }
          }

          &__logo {
            width: 247px;
            height: 61px;
            display: flex;
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
      }
    }
  }
}

.run-line {
  margin-bottom: 150px;
  width: 100%;
  overflow: hidden;
  position: relative;

  &--container {
    display: flex;
    animation: scroll 3s linear infinite;
    align-items: center;
    gap: 65px;

    &__img {
      translate: none;
      rotate: none;
      scale: none;
      transform: translate(0%, 0%) translate3d(0px 0px 0px);
    }
  }
}

// Footer section

.footer {
  background-color: $footer_back;
  font-size: 14px;

  .footer--container {
    padding-top: 48px;
    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;

    &__title {
      font-weight: 600;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 5px;
      &__icon {
        width: 42px;
        height: 18px;
      }
    }

    &__links {
      display: flex;
      flex-direction: column;

      &__link {
        margin-bottom: 25px;

        &__img {
          width: 139px;
          height: 39px;
        }
      }
      &__equip {
        font-weight: 500;
        font-size: 14px;
        color: $hero_text;
        background-color: $buttons_color;
        border-radius: 30px;
        padding: 8px 18px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
          color: $buttons_color;
          background-color: $hero_text;
        }
      }
    }

    &__socials {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__list {
        &__li {
          &__link {
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover {
              font-weight: 500;
            }
          }
        }
      }
    }

    &__location {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__contacts {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 142px;

        &__li {
          &__link {
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover {
              font-weight: 500;
            }
          }
        }
      }
    }

    &__work-time {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }

    &__copyright {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__par {
        margin-bottom: 20px;
        font-size: 16px;
      }

      &__list {
        display: flex;
        gap: 19px;
        &__li {
          &__icon {
            &-visa {
              width: 52px;
              height: 19px;
            }

            &-mc {
              width: 29px;
              height: 19px;
            }

            &-stripe {
              width: 42px;
              height: 19px;
            }

            &-paypal {
              width: 19px;
              height: 19px;
            }

            &-btc {
              width: 19px;
              height: 19px;
            }
          }
        }
      }
    }
  }
}
